<html xmlns:th="http://www.thymeleaf.org">

<body>

<h1>NOTES</h1>

<table>
    <tr>
        <th>Note ID</th>
        <th>Note Content</th>
    </tr>
    <tr th:each="note : ${note}">
        <td th:text="${note.noteId}">Note ID:</td>
        <td th:text="${note.noteContent}">Note Content:</td>
    </tr>
</table>

</body>

</html>